
    <div class="container-fluid test  w-100 h-20 text-center">
        <p class="py-4 ">ALWAYS THE HIGHLIGHT OF THE PARTY.</p>
    </div>
    <footer class="footer h-50">
       
        <div class="row text-justify">
            <div class="col">
                <ul>
                    <li class="mb-3 note">ABOUT</li>
                    <li>OUR STORY</li>
                    <li>THE ARTIST</li>
                    <li>COMMUNITY</li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li class="mb-3 note">TAT FACTS</li>

                    <li>TAT-TECH</li>
                    <li>TAKE CARE</li>
                    <li>HOW IT WORKS</li>
                    
                    <li>CUSTOM TATTOOS</li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li class="mb-3 note">CONTACT</li>

                    <li>BOOK A PARTY</li>
                    <li>UPCOMING EVENTS</li>
                    <li>MAILING LIST</li>
                    <li>CLIENTS</li>
                </ul>
            </div>
            <div class="col-6 PX-3">
                <h2 class="note ">STAY IN THE KNOW</h2>
                <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                  </form>
            </div>
        </div>
        
    </footer>

    <!-- javascript -->
    <script src="https://code.jquery.com/jquery-3.5.0.slim.min.js"
        integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
    AOS.init();
        $(function () {
            $(window).on('scroll', function () {
                if ($(window).scrollTop() > 10) {
                    $('.navbar').addClass('active');
                } else {
                    $('.navbar').removeClass('active');
                }
            });
        });

        // jQuery is required to run this code
        $(document).ready(function () {
            scaleVideoContainer();

            initBannerVideoSize('.video-container .poster img');
            initBannerVideoSize('.video-container .filter');
            initBannerVideoSize('.video-container video');

            $(window).on('resize', function () {
                scaleVideoContainer();
                scaleBannerVideoSize('.video-container .poster img');
                scaleBannerVideoSize('.video-container .filter');
                scaleBannerVideoSize('.video-container video');
            });
        });

        function scaleVideoContainer() {
            var height = $(window).height() + 5;
            var unitHeight = parseInt(height) + 'px';
            $('.homepage-hero-module').css('height', unitHeight);
        }

        function initBannerVideoSize(element) {
            $(element).each(function () {
                $(this).data('height', $(this).height());
                $(this).data('width', $(this).width());
            });

            scaleBannerVideoSize(element);
        }

        function scaleBannerVideoSize(element) {

            var windowWidth = $(window).width(),
                windowHeight = $(window).height() + 5,
                videoWidth,
                videoHeight;

            // console.log(windowHeight);

            $(element).each(function () {
                var videoAspectRatio = $(this).data('height') / $(this).data('width');

                $(this).width(windowWidth);

                if (windowWidth < 1000) {
                    videoHeight = windowHeight;
                    videoWidth = videoHeight / videoAspectRatio;
                    $(this).css({
                        'margin-top': 0,
                        'margin-left': -(videoWidth - windowWidth) / 2 + 'px'
                    });

                    $(this).width(videoWidth).height(videoHeight);
                }

                $('.homepage-hero-module .video-container video').addClass('fadeIn animated');

            });
        }
    </script>
</body>

</html>