        <!-- TRUE FOOTER -->
        <footer class="container-fluid p-5 mt-0  d-flex">
            <div class="row mb-3 px-4">
                <img src="/images/CONTACTUS.png" alt="" class="contactus px-4 img-fluid">
            </div>
            <div class="row pt-3">
                <div class="col-4 mx-md-3 px-4">
                    <p>Sign up!</p>
                    <form action="">
                        <label for=""> </label>
                        <input type="email" name="" id="" placeholder="EMAIL ADDRESS">
                    </form>
                </div>
                <div class="col-3 ">
                    <p>tiktok</p>
                    <a href="https://www.facebook.com/CrystylesTat2/">
                        <p>facebook</p>
                    </a>
                    <a href="https://www.instagram.com/crystylestat2/">
                        <p>instagram</p>
                    </a>
                    <a href="">
                        <p>google</p>
                    </a>


                </div>
                <div class="col-md-4 col">
                    <p>Philadelphia</p>
                    <p>New York</p>
                    <p>New Jersey</p>
                    <p>609.423.4032</p>
                </div>
            </div>
            <p class="bb mx-5 px-5 pt-3 text-center">CRYSTYLES AIRBRUSH TATTOOS 2023 </p>

        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"> </script>
    <script src="/js/new.js"></script>

    <script>
        AOS.init();
      </script>

   
</body>

</html>