@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400, 700;1,700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
html{
    overflow-x: hidden;

}
body{
    background-color: #ffffff;
    color:#1B1C1E;
    font-family: 'Poppins', sans-serif; 
    text-transform: uppercase;
    cursor: crosshair;
    font-size: 20px;
    width: 100vw;
    overflow-x: hidden;
  
}





.ame{
    display: relative;
}
.openingdiv{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-content:center;
    justify-content:center;
    z-index: 900000000;
   
  
}
#logo{
position: absolute;
    transform: translate(-30%, -25%);
}




#brush {
    position: absolute;
    top:50%;
    left:40%;
    transform: translate(-50%, -25%);
    animation: fill 0.5s ease forwards 5s;
  }
  #brush{
    transform: translate(-20%, -25%);
}  

@media (max-width:800px){
    #logo{
        margin: 0 0 70px 40px;
        width: 70%;
        left:50%;
        transform: translate(-50%, -50%);
       
    }
    #brush{
        margin: 0 70px;
        width: 60%;
        left:30%;
        transform: translate(-50%, -50%);
    }
}
#logo {
    position: absolute;
    top:50%;
    left:40%;
    transform: translate (-50%, -20%);
    animation: fill 0.5s ease forwards 5s;
  }
  
  #logo path:nth-child(1){
    stroke-dasharray:339.0343322753906;
    stroke-dashoffset:339.0343322753906;
    animation: line-anim 2s ease forwards;
  }
  
  #logo path:nth-child(2){
      stroke-dasharray:366.0449523925781;
      stroke-dashoffset:366.0449523925781;
      animation: line-anim 2s ease forwards 0.3s;
  
  
  }
  #logo path:nth-child(3){
      stroke-dasharray:248.09988403320312;
      stroke-dashoffset:248.09988403320312;
      animation: line-anim 2s ease forwards 0.6s;
  
  
  }#logo path:nth-child(4){
      stroke-dasharray:329.2756042480469;
      stroke-dashoffset:329.2756042480469;
      animation: line-anim 2s ease forwards 0.9s;
  
    
  }#logo path:nth-child(5){
      stroke-dasharray:224.447998046875;
      stroke-dashoffset:224.447998046875;
      animation: line-anim 2s ease forwards 1.2s;
  
  }#logo path:nth-child(6){
      stroke-dasharray:248.09983825683594;
      stroke-dashoffset:248.09983825683594;
      animation: line-anim 2s ease forwards 1.5s;
  
  }#logo path:nth-child(7){
      stroke-dasharray:198.1439971923828;
      stroke-dashoffset:198.1439971923828;
      animation: line-anim 2s ease forwards 1.8s;
  
  
    
  }#logo path:nth-child(8){
      stroke-dasharray:309.3120422363281;
      stroke-dashoffset:309.3120422363281;
      animation: line-anim 2s ease forwards 2.1s;
  
  
  }#logo path:nth-child(9){
      stroke-dasharray:329.2759704589844;
      stroke-dashoffset:329.2759704589844;
      animation: line-anim 2s ease forwards 2.4s;
  
    
  }#logo path:nth-child(10){
  
      stroke-dasharray:224.44778442382812;
      stroke-dashoffset:224.44778442382812;
      animation: line-anim 2s ease forwards 2.7s;
  
      
      
  }#logo path:nth-child(11){
      stroke-dasharray:326.8614501953125;
      stroke-dashoffset:326.8614501953125;
      animation: line-anim 2s ease forwards 3.0s;
  
    
  }#logo path:nth-child(12){
      stroke-dasharray:224.44802856445312;
      stroke-dashoffset:224.44802856445312;
      animation: line-anim 3s ease forwards 3.3s;
  
  
    
  }#logo path:nth-child(13){
    
      stroke-dasharray:224.44802856445312;
      stroke-dashoffset:224.44802856445312;
      animation: line-anim 2s ease forwards 3.6s;
  
  
  }
  #logo path:nth-child(14){
      stroke-dasharray:377.3009948730469;
      stroke-dashoffset:377.3009948730469;
      animation: line-anim 2s ease forwards 3.9s;
  
  }
  #logo path:nth-child(15){
      stroke-dasharray:377.3011169433594;
      stroke-dashoffset:377.3011169433594;
      animation: line-anim 2s ease forwards 4.1s;
  
  
  }
  
  
  #brush{
      position: absolute;
      top:15%;
      left:30%;
      transform: translate (-50%, -50%);
      animation: fill 0.5s ease forwards 5s; 
      height:25%;
    }
    
    #brush path:nth-child(1){
        stroke-dasharray:4505.10693359375;
        stroke-dashoffset:4505.10693359375;
        animation: line-anim 9s ease forwards 0.2s;
    
    }
  
  @keyframes line-anim{
    to{
      stroke-dashoffset: 0;
    }
  }
   @keyframes fill{
      from{
          fill: transparent;
      }
      to{
        
          fill: white;
      }
    } 


nav{
    position: fixed;
    background-color: transparent;
    z-index: 5;
    
}

nav img{
    max-width: 40px;
    max-height: 60px;
}

a{
    color: white;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
}

a:hover{
    color: #ffffff;
    font-style: italic;
}
p{
    font-weight: bold;
}

.aware{    height: 100vh;
    color:#ffffff;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: lighter;
}

.aware hr{

    width: 100vw;
    background-color: white;
 
    padding-left: 5%;
}

.awlist{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 18px;
}

.thru img{
    position: absolute;
    top:0;
  
}

.over{
    position: absolute;
    z-index: 900;
}

.camera{
    position: absolute;
    height: 30%;
    margin-top: 20%;
    right: 50px;
    opacity: 80%;
}

.back img{
    height: 10%;

}

.brand{
    margin-top: 12%;
}
/* @media(min-width:1160px) {
    .brand{
        margin-top: 30%;
    }
} */
@media(min-width:600px) {
    .brand{
        margin-top: 80%;
    }
}




.vid{
    background-color: #020202;
}
video{
    height: 65%;
    width: 100vw;
}
h3{
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
}
button{
    padding: 1% 2%;
    border: 2px solid #1B1C1E;
    border-radius: 90px;
    font-size: 1rem;
    background-color: #020202;
    margin:auto 3px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #ffffff;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);

}

button:hover{
    background-color: #ffffff;
    color: #020202;
    border: 1px solid #020202;
}

.nv{
    box-shadow: none;

}
#howitworks{
    background-color: #1B1C1E;
    color: #ffffff;
   
}


.clients hr{
    width: 100vw;
    border-top: 1px solid rgba(255, 255, 255, 0.89);
}

#howitworks p{
    justify-self: center;
    align-self: center;
    font-size: 22px;
    font-weight: 100;
    color: #ffffffd7;
}

#gal{
    object-fit: cover;
    object-position: 30% 50%;
}

.galbtn{
    font-size: 3rem;
    box-shadow: 0px 17px 24px rgba(0, 0, 0, 0.25);
}

.galbtn:hover{
    background-color: #020202;
    color: #ffffff;
}



.epic{
    box-shadow: 9px 7px 34px rgba(0, 0, 0, 0.25);
}
.how{
    /* padding: 0 20px; */
    height: 100vh;
    width:100vw ;
}
#gal img{
    max-width: 100%;
    max-height: 15%;
    object-fit: cover;
    object-position: 30% 50%;
}

.homegal{
    height: 100vh;
    width: 100vw;
    background: url("/images/pexels-vova-krasilnikov-2726161.jpg") fixed center no-repeat;
    background-size:cover ;

}

.homegal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.homegal button{
    background-color: #f5f5f5;  
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5px 40px; 
    /* position: absolute;  */
    border-radius: 0%;
  
    color: #000;
    border: none;
    font-size: 22px;
    letter-spacing: 10px;
    font-style: italic;
    -webkit-font-smoothing:antialiased;
}

.card{
    /* height: 100%; */
    padding: 25% 0%;
    background-color: #020202;
    box-shadow: 9px 10px 8px rgba(0, 0, 0, 0.25);
    
}
.card-title{
    color: #f5f5f5;
    font-style: italic;
    font-weight: bolder;
    font-size: 1.5rem;
}

.clients{
    padding-top: 5%;
    background-color:#020202 ;
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 2px;

}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }


.clientlist{
    display: -webkit-flex;
    flex-wrap: nowrap;
    overflow-y: scroll;
  
}
.clientlist img{
    height: 200px;
    padding: 5%;
    opacity: 60%;
}

li{
    list-style: none;
     margin-bottom: 10%;
}
.dropNav li a{
    font-size: 52px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 5px;
}

footer{
    margin-top: 30%;
    background: #020202;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: .8rem;
    color:rgba(255, 255, 255, 0.603);
    height: 50vh;
   letter-spacing: 2px;
   bottom: 0;

}


footer a{
    font-size: .8rem;
    color:rgba(255, 255, 255, 0.603);
   letter-spacing: 2px;
 
}

input{
    color: #ffffff;
    
    border: 1px solid transparent;
    position: absolute;
    width: 70%;
    height: 26px;
    background: #080808;
    border-bottom: 1px solid #ffffff;

}


.aware{
    background-color: #020202;
    height: 100vh;
}


.booking h1{
    font-size: 3rem;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 10%;
}





.contactus{

    opacity: 50%;
    height: 50px;
}




@media(max-width:600px){
    
    footer{
   font-size: .7rem;
   padding-bottom: 10%;
    
    }

    footer a{
        font-size: .7rem;
        color:rgba(255, 255, 255, 0.603);
         }
         .bb{
             font-size: .5rem;
         }
}

.dropNav{
    z-index: 100;
    background-color: #020202;
    color: #ffffff;
    text-align: center;
    height: 100%;
    width: 100vw;
    padding: 5px;
}

.dropNav a{
    color: #ffffff;
}

.moved{
    background-color: #ffffff;
    color:black;
    box-shadow: 9px 7px 34px rgba(0, 0, 0, 0.199);
}
.moved a{
    font-size: 10px;
    color:black;
}

@media(max-width:767px){
.card{
    background-color: #020202;
    /* height: 100%; */
    padding: 5% 0%;
    margin-top: 2%;
    box-shadow: 9px 10px 8px rgba(0, 0, 0, 0.25);
}
}


@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
    .brand{
        margin-top: 90%;
    }
}

.fr{
    height: 1px;
    width: 100vw;
    background-color: white;
 
    padding-left: 5%;
}

@media screen and (max-width:800px){
 
    
    .camera{
        position: absolute;
        height: 20%;
        margin-top: 80%;
        opacity: 80%;
        margin-left:5px ;
        display: none;
    }

    .brand{
        margin-top: 20%;
    }
    .how{
        height: 60vh;
    }
    .learn{
        padding-bottom: 10px;
    }
}

@media screen and (max-width:1273px){
body{
    overflow-y: hidden;
}
}

@media screen and (max-width:480px){
    .brand{
        margin-top: 60%;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width:600px){
    .how{
        height: 100vh;
    }
    .awlist{
        font-size: 14px;
    }
    .over{
        width: 95vw;
    }
}


.open h3{
    animation: fadein 2s; 
}
.open p{
    animation: fadein 2.5s; 
}

.open button{
    animation: fadein 3s; 
}

@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { 
  .homegal {
   background-attachment:scroll !important;
      background-size: cover;
      height: 100%;
      overflow: hidden;
    
  }

  .back img{
    height: 20%;

}

  }