
@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 100%;
  font-weight: 400;
  line-height: 1.8;
  font-family: "Brandon Grotesque", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #21192e;
  color: #d8d0e4;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#060607), color-stop(12%, #362456), color-stop(26%, #372562), color-stop(44%, #54222e), color-stop(55%, #2b1a47), color-stop(65%, #1b153f), to(#0c1013));
  background-image: linear-gradient(to bottom, #060607, #362456 12%, #372562 26%, #54222e 44%, #2b1a47 55%, #1b153f 65%, #0c1013);
  background-size: cover;
  }
  body.template-page {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#060607), color-stop(12%, #362456), color-stop(26%, #372562), color-stop(55%, #2b1a47), color-stop(65%, #1b153f), to(#0c1013));
    background-image: linear-gradient(to bottom, #060607, #362456 12%, #372562 26%, #2b1a47 55%, #1b153f 65%, #0c1013); }
  @media (min-width: 1025px) {
    body.customer-logged-in {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%; 
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  body.customer-logged-in .wrapper:last-of-type {
    margin-top: auto; }

.stars {
  width: 100%;
  background-image: url("");
  background-size: 464px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  z-index: -1; }

.wrapper {
  position: relative;
  z-index: 3; }
  .wrapper.head {
    z-index: 100; }

/* color pallet from brandfolder
#6b6865
#191715
#4a3934 
#797d82
#000000
#d0d0d3

*/