<%- include('partials/header') %> 
    <link rel="stylesheet" href="/style/about.css">
</head>

<body>
    <%- include('partials/nav') %> 
    <section class="about">
        <div class="container-fluid h-25 w-100 ">
            <div class="row p-5">
                <div class="col-12 col-md-10  pt-5">
                    <h1 class="who mb-2">We are family of creatives, dedicated to sharing art and
                        joy. </h1>
                </div>
                
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid px-5">
             <div class="line_box"></div>
             <div class="row" >
                <div class=" col-12 col-md-6">
                    <img src="/images/pexels-hellariusz-fanny-5020122.jpg" alt=""  class="img-fluid mb-4 pr-5">
                    <video autoplay loop muted playsinline src="/images/prep.mp4" type="video/mp4">
                        
                    </video>
                </div>
                <div class="col-12 col-md-6 pt-5 px-5">
                    <p>A single mother of three decided to merge her passion for art, a love of the community, and her entrepreneurial spirit and founded Crystyles Airbrush Tattoos. Birthed out of a hunger to  exemplify to her children how creative businesses can thrive and provide a way out of poverty, our company has paid it forward by providing job experience to local teens and young adults. </p>
                    <p>We started out small, sweating it out in the summer at street fairs, farmers markets, and block parties,  and over the years we've grown, sharing our talents on movie sets, servicing global brands, and celebratory events.  Our mother has shown that dedication, passion and personal growth can blossom everything you touch , especially a business designed to touch the lives of many. </p>
                    <p>The heart of this company is inspired by overcoming the mundane, by creating a unique way to experience self expression, through body art. 
                    </p>
                    <p>Thanks for checking us out</p>
                    <br>
                    <p> - Kayla , Isaac, and Laila</p>
               
                    <!-- <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi a officiis aut. Saepe fugit at, dolores quasi harum corporis molestias ut ipsum velit dolorem. Eaque excepturi similique soluta eos tenetur iste voluptatem nisi, dicta quos accusamus cum! Laudantium suscipit itaque temporibus corporis dolore amet sed!</h3> -->
                </div>
            </div>
        </div>
    </section>

    <section class="team">  
       
        <div class="container-fluid h-100 w-100 mt-5 pt-5">  
             <div class="line_box"></div>
            <div class="row p-5 my-5 d-flex justify-content-around">
                <!-- <div class="col-col-md-2 p-2">
                    <img src="/images/lkm.jpeg" alt="" class="img-fluid rounded">
                </div> -->
                <div class="col-6 col-md-2 p-2 ">
                    <img src="/images/lkm.jpeg" alt="" class="img-fluid rounded mb-3 flip">
                    <img src="/images/LK.png" alt="" class="lk mb-3 ">
                    <p>Owner</p>
                </div>
                <div class="col-6 col-md-2 p-2 ">
                    <img src="/images/kk.jpeg" alt="" class=" img-fluid rounded mb-3">
                    <img src="/images/KAYLA.png" alt="" class="name mb-3 ">
                    <p>Co-Owner  Marketing</p>
                </div>
                <div class="col-6 col-md-2 p-2 ">
                    <img src="/images/ir22.jpeg" alt="" class=" img-fluid rounded  mb-3">
                     <img src="/images/ISAAC.png" alt="" class="name mb-3 ">
                     <p>Senior Artist</p>

                </div>
                <div class="col-6 col-md-2 p-2 ">
                    <img src="/images/5155.jpeg" alt="" class=" img-fluid rounded mb-3 flip">
                    <img src="/images/LAILA.png" alt="" class="name mb-3  ">
                    <p>Artist</p>
                </div>
                <div class="col-6 col-md-2 p-2">
                    <img src="/images/aaa.png" alt="" class=" img-fluid rounded mb-3 flip aa">
                    <img src="/images/AARON.png" alt="" class="name mb-3 ">
                    <p>Artist</p>

                </div>
                <!-- <div class="col-6 col-md-2">
                    <img src="/images/5155.jpeg" alt="" class=" img-fluid rounded">

                </div> -->

            </div>
            <div class="row p-5 ">
        
            </div>
        </div>
    </section>  
          <div class="line_box"></div>
    <%- include('partials/footer') %> 
