<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRYSTYLES TAT2</title>
    <link rel="icon" href="/images/favvv.png" type="image/gif" sizes="32x32">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/land.css">
</head>
<body>
    <section>
         <nav class="navbar navbar-expand-lg navbar-togglable fixed-top ">
        <a class="navbar-brand" href="#"><img src="/images/blacklogo.png" alt="" id="logo"></a>

        <button class="navbar-toggler nv" type="button" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-ico">
                <div class="container navBtn" onclick="myFunction(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                  </div>
            </span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" href="#">HOME <span class="sr-only">(current)</span></a>
              <a class="nav-link" href="#">ABOUT</a>
              <a class="nav-link" href="#">GALLERY</a>
              <a class="nav-link" href="#">CONTACT</a>
              <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
            </div>
        </nav> 


         <div class=" container-fluid dropNav d-none " >
            <div class="col mt-5 py-5">
                <ul>
                    <li>  <a  href="#">HOME </a></li>
                    <li>  <a  href="#">ABOUT</a></li>
                    <li>  <a  href="#">GALLERY</a></li>
                    <li> <a href="#">CONTACT</a></li>
                </ul>
            </div>
          </div>


        <div class="container-fluid d-flex align-items-stretch mt-5 mt-md-0 open h-100">
             <div class="row d-flex align-items-center ">
                <div class="col-md-6 mt-5 mt-md-0 px-5">
                    <h3 data-aos="fade-up"
                    data-aos-anchor-placement="top-bottom"  data-aos-duration="1000">CRYSTYLES AIRBRUSH TATTOOS</h3>
                    <p data-aos="fade-up"
                    data-aos-anchor-placement="top-bottom"
                    data-aos-delay="50"
                    data-aos-duration="2000">life is art and you are the canvas.</p>
                    <button data-aos="fade-up"
                    data-aos-anchor-placement="top-bottom"
                    data-aos-duration="3000">contact</button>
                </div>
                <div class="col-md-6 px-0 mt-5 mt-lg-0">
                    <img class="img-fluid mainImg" src="/images/pexels-athena-1777467.jpg" alt="" srcset="">
                </div>
            </div>
        </div>
    </section>
   


        <div class="container-fluid d-flex align-items-stretch epic">
            <div class="row d-flex align-items-center ">
               <div class="col-md-6 px-0 mt-lg-0 d-none d-sm-block">
                   <img class="img-fluid" src="/images/pexels-nappy-2648203.jpg" alt="" srcset="">
               </div>
               <div class="col-md-6 mt-5 mt-md-0 mb-5 px-4 px-md-3 h-25 learn">
                    <h3 data-aos="fade-up-right" data-aos-duration="500">EPIC TATTOOS IN TEMPORARY INK</h3>
                    <button data-aos="fade-right" data-aos-duration="1000">LEARN MORE</button>
            </div>
           </div>
       </div>
       <!-- Services -->
       <div class="container-fluid aware  py-5  px-md-3 px-5">
           <p class="px-md-5">WHAT WE DO</p>
            <hr class="pr-4">
             <div class="row px-md-5 px-0 mid">
                <div class=" col-8 awlist px-md-0 py-3">
                        <p>RISK FREE SELF EXPRESSION</p>
                        <p>CUSTOM TATTTOO DESIGNS</p>
                        <p>ON SET / PRODUCTION ART</p>
                        <div class="row my-1 ">
                            <img src="/images/BRANDA.png" alt="" class="py-3 mx-3 my-3 over">
                        </div>
                        <div class="brand ">
                            <p>CORPORATE COLABORATIONS</p>
                            <p>EXCLUSIVE PARTY ATMOSPHERE</p>
                            <p>special events</p>
                            <p>UNIQUE MARKETING EXPIRENCES</p>
                        </div>
                </div>
                
                <div class="col-4 back">
                    <img src="/images/mohammed-idris-djoudi-lhvW1zpDu78-unsplash.jpg" alt="" class=""> 
                </div>
                <img src="/images/erik-mclean-PjqJAKkMQnY-unsplash.jpg" alt="" class="camera ">

            </div>
                  <hr class="pr-4 fr pb-5">    
       </div>

       <div class="row vid pt-5">
        <div class=" containter-fluid video-container">
      <video autoplay loop muted playsinline src="/images/pexels-tima-miroshnichenko-5561749.mp4" class="fillWidth"></video>
      <div class="poster  justify-content-center align-items-center">
          
      </div>
    </div>  
  </div>


        <!-- How It Works -->
        <div class="container-fluid how my-5">
        <div class="row align-items-center mt-5 ">
            <div class="col-12 px-5 mt-5">
                <img src="/images/HOW IT WORKS.png" alt="" class="img-fluid">
            </div>
       </div>
       <div class="row mt-5 d-flex flex-wrap px-md-5">
           <div class="col-12 col-md-4 mt-md-5">
            <div class="card" data-aos="fade-right" data-aos-duration="1000" >
                <div class="card-body">
                  <h5 class="card-title">  <p>CUSTOMIZE OR PICK YOUR TATTOO DESIGN</p></h5>
                </div>
              </div>
           </div>
           <div class="col-12 col-md-4 mt-md-5">
            <div class="card " data-aos="fade-up" data-aos-duration="1000">
                <div class="card-body">
                  <h5 class="card-title"><p>ARTIST AIRBRUSHES YOUR TATTOO IN MINS</p></h5>
                </div>
              </div>
           </div>
           <div class="col-12 col-md-4 mt-md-5">
            <div class="card " data-aos="fade-up-right" data-aos-duration="1000" >
                <div class="card-body">
                  <h5 class="card-title"> <p> FLEX YOUR NEW TATTOO FOR 2 WEEKS </p></h5>
                </div>
              </div>
           </div>
       </div>
    </div>
   
    <!-- Gallery -->
     <div class="container-fluid  mb-1 pb-5 homegal ">
        <button class="px-3 galbtn ">GALLERY</button>
        
        </div>
       <div class="container-fluid mt-5 mb-1  px-5 booking">
           <div class="row mt-5">
               <h1 class="pt-5" data-aos="fade-left" data-aos-duration="1000">READY TO GET TATTED?</h1>
           </div>
           <div class="row mt-0">
            <button class="px-3" data-aos="fade-right" data-aos-duration="1000">booking</button>
           </div>
        </div>
    <!--   Clients -->
     <div class="container-fluid mt-5  pb-5 px-5 clients">
            <div class="row">
               <p>OUR CLIENTS</p>
                <hr>
            </div>
            <div class="row clientlist align-self-end">
                <img src="/images/deadpool (Traced).png" alt="">
                <img src="/images/parxx (Traced).png" alt="">
                <img src="/images/logo-supernatural-png 1 (Traced).png" alt="" >
                <img src="/images/firestonee (Traced).png" alt="">
                <img src="/images/wawa-logo-logo (Traced).png" alt="">
                <img src="/images/bai-transparent (Traced).png" alt="">
                <img src="/images/newbalence (Traced).png" alt="">
                <img src="/images/pnun (Traced).png" alt="">
                <img src="/images/nissantrans (Traced).png" alt="">
            </div>
         </div>
         <!-- TRUE FOOTER -->
        <footer class="container-fluid  px-3 pt-5 mt-0  ">
            <div class="row mb-3">
                <img src="/images/CONTACTUS.png" alt="" class="contactus mx-4 img-fluid">
            </div>
            <div class="row pt-3">
                <div class="col-4 mx-3">
                    <p>Sign up for cool discounts</p>
                    <form action="">
                        <label for=""> </label>
                        <input type="email" name="" id="">
                    </form>
                </div>
                <div class="col-3 ">
                    <p>tiktok</p>
                    <p>facebook</p>
                    <p>instagram</p>
                    <p>google</p>

                </div>
                <div class="col-4 ">
                    <p>Philadelphia</p>
                    <p>New York</p>
                    <p>New Jersey</p>
                    <p>609.423.4032</p>

                </div>
            </div>     
             <p class=" mx-5 px-5 pt-3 text-center">CRYSTYLES AIRBRUSH TATTOOS 2020 </p>
          
        </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script> AOS.init();</script>
    <script src="/js/new.js"></script>
</body>
</html>