
    <%- include('partials/header') %> 
    
    <link rel="stylesheet" href="/style/land.css">
</head>

<body>

    <%- include('partials/opening') %> 
    <div class="full d-none">
        <section>
            <%- include('partials/nav') %> 


            <div class="container-fluid d-flex align-items-stretch mt-5 mt-md-0 open h-100">
                <div class="row d-flex align-items-center ">
                    <div class="col-md-6 mt-5 mt-md-0 px-5">
                        <h2>CRYSTYLES AIRBRUSH TATTOOS</h2>
                        <p>life is art and you are the canvas</p>
                        <a class="typeform-share button" href="https://form.typeform.com/to/nx9hVvKs"
                            data-mode="popup"><button>contact</button></a>
                    </div>
                    <div class="col-md-6 px-0 mt-5 mt-lg-0">
                        <div id="carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block w-100 " src="/images/pexels-athena-1777467.jpg" alt="First slide">

                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="/images/pexels-nappy-2648203.jpg" alt="Second slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="/images/pexels-ralph-rabago-3214690.jpg" alt="Third slide">
                              </div>
                            </div>
                          </div>
                        
                    </div>
                </div>
            </div>
        </section>



        <div class="container-fluid d-flex align-items-stretch epic">
            <div class="row d-flex align-items-center ">
                <div class="col-md-6 px-0 mt-lg-0 d-none d-sm-block">
                    <img class="img-fluid" src="/images/pexels-nappy-2648203.jpg" alt="" srcset="">
                </div>
                <div class="col-md-6 mt-5 mt-md-0 mb-5 px-4 px-md-3 h-25 learn">
                    <h2>EPIC TATTOOS IN TEMPORARY INK</h2>
                    <button >LEARN MORE</button>
                </div>
            </div>
        </div>
        <!-- Services -->
        <div class="container-fluid aware  py-5  px-md-3 px-5">
            <p class="px-md-5">WHAT WE DO</p>
            <hr class="pr-4">
            <div class="row px-md-5 px-0">
                <div class=" col-8 awlist px-md-0 pt-3">
                    <div class="col-12">
                         <div>
                            <p>RISK FREE SELF EXPRESSION</p>
                            <p>CUSTOM TATTOO DESIGNS</p>
                            <p>ON SET / PRODUCTION ART</p>
                        </div>
                        <div class="row  ">
                        <img src="/images/BRANDA.png" alt="" class="py-3 mx-3 my-3 over" >
                        </div>
                        <div>
                            <p>CORPORATE COLLABORATIONS</p>
                            <p>EXCLUSIVE PARTY ATMOSPHERE</p>
                            <p>special events</p>
                            <p>UNIQUE MARKETING EXPERIENCES</p>
                    </div>
                    </div>
                </div>
                <div class="col-4 back">
                    <img src="/images/mohammed-idris-djoudi-lhvW1zpDu78-unsplash.jpg" alt="" class="  img-fluid" >
                </div>

            </div>
        </div>


        <!-- How It Works -->
        <div class="container-fluid how my-5">
            <div class="row align-items-center mt-5 ">
                <div class="col-12 px-5 mt-5">
                    <img src="/images/HOW IT WORKS.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="row mt-5 d-flex flex-wrap px-md-5">
                <div class="col-12 col-md-4 mt-md-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <p>CUSTOMIZE OR PICK YOUR TATTOO DESIGN</p>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mt-md-5">
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title">
                                <p>ARTIST AIRBRUSHES YOUR TATTOO IN MINS</p>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mt-md-5">
                    <div class="card " >
                        <div class="card-body">
                            <h5 class="card-title">
                                <p> FLEX YOUR NEW TATTOO FOR 2 WEEKS </p>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Gallery -->
        <div class="container-fluid  mb-1 pb-5 homegal ">
            <a href="/gallery"><button class="px-3 galbtn ">GALLERY</button></a>

        </div>
        <div class="container-fluid mt-5 mb-1  px-5 booking">
            <div class="row mt-5">
                <h1 class="pt-5" >READY TO GET TATTED?</h1>
            </div>
            <div class="row mt-0">
                <a class="typeform-share button" href="https://form.typeform.com/to/nx9hVvKs" data-mode="popup"><button
                        class="px-3" >booking</button></a>
            </div>
        </div>
        <!--   Clients -->
        <div class="container-fluid mt-5  pb-5 px-5 clients">
            <div class="row">
                <p>OUR CLIENTS</p>
                <hr>
            </div>
            <div class="row clientlist align-self-end">
                <img src="/images/deadpool (Traced).png" alt="">
                <img src="/images/parxx (Traced).png" alt="">
                <img src="/images/logo-supernatural-png 1 (Traced).png" alt="">
                <img src="/images/firestonee (Traced).png" alt="">
                <img src="/images/wawa-logo-logo (Traced).png" alt="">
                <img src="/images/bai-transparent (Traced).png" alt="">
                <img src="/images/newbalence (Traced).png" alt="">
                <img src="/images/pnun (Traced).png" alt="">
                <img src="/images/nissantrans (Traced).png" alt="">
            </div>
        </div>
        <%- include('partials/footer') %> 